<div style="background-color:{{nodeColor}}">
	<button type="button" class="btn btn-default btn-success" aria-label="Left Align">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</button>
	<button type="button" class="btn btn-default btn-danger" aria-label="Left Align">
		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
	</button>
	{{nodeName}}
</div>
