* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.list-group,
.list-group-item {
  margin: 5px 0 5px 0;
}
.list-group-item div {
  padding: inherit;
}


/*# sourceMappingURL=app.css.map*/