// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

*
	box-sizing: border-box
	-webkit-font-smoothing: antialiased;

.list-group, .list-group-item
	margin: 5px 0 5px 0;

.list-group-item div
	padding: inherit;
